{% extends 'base.html.twig' %}

{% block title %}Subject index{% endblock %}

{% block body %}
    <h1 class="ui header">Lista de asignaturas</h1>

    {% include 'subject/_table.html.twig' %}

{% endblock %}