@import "~semantic-ui-css/semantic.css";
@import "~semantic-ui-calendar/dist/calendar.css";

body {
    background-color: #FFFFFF;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.ui.menu .ui.button {
    margin-left: 0.5em;
}
